@page "/chartdisplay"
@using CapstoneBlazor;
@using CodeYouCapstone;

@if (LastSubmitResult != null)
{
    <h2>
        Last submit status: @LastSubmitResult

    </h2>

}


<EditForm Model="@Chart" FormName="ChartDisplay" method=post OnValidSubmit="@ValidFormSubmitted" OnInvalidSubmit="@InvalidFormSubmitted">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <label for="PrimaryFirstName">Primary Parent's First Name:</label>
    <InputText id="PrimaryFirstName"@bind-Value="@chart.PrimaryCustodian"></InputText>
    <br />
    <label for="PrimaryLastName">Primary Parent's Last Name:</label>
    <InputText id="PrimaryLastName" @bind-Value="@chart.PrimaryCustodian"></InputText>
    <br />
    <label for="SecondaryFirstName">Secondary Parent's First Name:</label>
    <InputText id="SecondaryFirstName"@bind-Value="@chart.SecondaryCustodian"></InputText>
    <br />
    <label for="SecondaryLastName">Secondary Parent's Last Name:</label>
    <InputText id="SecondaryLastName" @bind-Value="@chart.SecondaryCustodian"></InputText>
    <br />
    <label for="NumberofChildren">Number of Children under 18:</label>
    <InputNumber id="NumberofChildren" @bind-Value="@chart.NumberOfChildren"></InputNumber>
    <br />
    <label for="GrossIncomePrimary">Gross Income of Primary Custodian:</label>
    <InputNumber id="GrossIncomePrimary" @bind-Value="@chart.GrossIncomePrimary"></InputNumber>
    <br />
    <label for="GrossIncomeSecondary">Gross Income of Secondary Custodian:</label>
    <InputNumber id="NumberofChildren" @bind-Value="@chart.GrossIncomeSecondary"></InputNumber>
    <br />
    <label for="MonthlyMaintenancePrimary">Monthly Maintenance Obligation of Primary Custodian:</label>
    <InputNumber id="MonthlyMaintenancePrimary" @bind-Value="@chart.MonthlyMaintenancePrimary"></InputNumber>
    <br />
    <label for="MonthlyMaintenanceSecondary">Monthly Maintenance Obligation of Secondary Custodian:</label>
    <InputNumber id="MonthlyMaintenanceSecondary" @bind-Value="@chart.MonthlyMaintenanceSecondary"></InputNumber>
    <br />
    <label for="MonthlyDeductionPriorChildrenPrimary">Monthly Prior Born Children Obligation of Secondary Custodian:</label>
    <InputNumber id="MonthlyDeductionPriorChildrenPrimary" @bind-Value="@chart.MonthlyDeductionPriorChildrenPrimary"></InputNumber>
    <br /> 
    <label for="MonthlyDeductionPriorChildrenSecondary">Monthly Prior Born Children Obligation of Secondary Custodian:</label>
    <InputNumber id="MonthlyDeductionPriorChildrenSecondary" @bind-Value="@chart.MonthlyDeductionPriorChildrenSecondary"></InputNumber>
    <br />
    <label for="PrimaryAGI">Primary parent's Adjusted Gross Income':</label>




    <button type="submit">Submit</button>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/chartresults">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Calculate
        </NavLink>
    </div>

</EditForm>

@code {



    Chart chart = new Chart();
    string LastSubmitResult;

    void ValidFormSubmitted(EditContext context)
    {

        chart = ((Chart)context.Model);
        LastSubmitResult = "onValidSubmit was executed";
    }
    void InvalidFormSubmitted(EditContext context)
    {
        
        LastSubmitResult = "OnInvalidSubmit was executed";
    }

}
    

