@page "/chartdisplay"
@using CapstoneBlazor;


<EditForm Model="@primaryCustodian">
    <label for="PrimaryFirstName">Primary Parent's First Name:</label>
    <InputText id="PrimaryFirstName"@bind-Value="@primaryCustodian.FirstName"></InputText>
    <br />
    <label for="PrimaryLastName">Primary Parent's Last Name:</label>
    <InputText id="PrimaryLastName" @bind-Value="@primaryCustodian.LastName"></InputText>
    <br />
    <label for="SecondaryFirstName">Secondary Parent's First Name:</label>
    <InputText id="SecondaryFirstName"@bind-Value="@secondaryCustodian.FirstName"></InputText>
    <br />
    <label for="SecondaryLastName">Secondary Parent's Last Name:</label>
    <InputText id="SecondaryLastName" @bind-Value="@secondaryCustodian.LastName"></InputText>
    <br />

    <button type="submit">Submit</button>
</EditForm>

@code{
    PrimaryCustodian primaryCustodian = new();
    SecondaryCustodian secondaryCustodian = new();
}